﻿@model FamilySite.UI.MVC.Models.ApplicationUser

@{
    ViewBag.Title = "Delete Application User";
}
<div id="family-wrapper">
<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this User?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
</div>