﻿@model IEnumerable<FamilySite.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Applicatin Users";
}
<div id="family-wrapper">
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New Member", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Roles) 
        </th>*@
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
</div>