﻿@model FamilySite.DATA.EF.Course

@{
    ViewBag.Title = Model.CourseName + " Details";
}
<div id="family-wrapper">
    <div>
        <h3>@ViewBag.Title</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                Lessons
            </dt>
            <dd>
                <ul>
                    @foreach (var l in ViewBag.courseLessons)
                    {
                        <li>
                            <a href="@Url.Action("Details", "Lessons", new { id = l.LessonID })">@l.LessonTitle</a>
                        </li>
                    }

                </ul>

            </dd>


        </dl>
    </div>
    <div>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) @:|
    }
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>