﻿/*This is the stylesheet used to format individual views and to override
    any styling from bootstrap, the main.css, or any other stylings.  The link
    to this sheet should be last in the list of stylesheets in the _layout.cshtml
*/

/*Global Style Settings*/

/*used for Bold, Italicized Red text (in use/Delete statements)*/


.myWarning
{
    color: red;
    font-weight: bold;
    font-style: italic;
}

.container-wrap > h2
    {
        font-size: 1.5em;
        color: #23527C;
        text-align: center;
        margin: 0.5em;
        padding-top: 0.5em;

    }

.buttons
{
	width: 100%;
	padding: 0;
	margin: 0;
}

	.buttons a
	{
		font-size: 1.25em;
	}

.buttons select
{
	border-radius: .25em;
	padding: .25em;
	font-size: 1.25em;
	margin-right: 3em;
}

.buttons form
{
	text-align: center;
	border: solid 2px dodgerblue;
	padding: 1em;
	width: 50%;
	margin: 2em auto;
	border-radius: 1em;
}
