﻿@model FamilySite.DATA.EF.Lesson

@{
    ViewBag.Title = Model.LessonTitle + " Details";
}
<div id="family-wrapper">
<h3>@ViewBag.Title</h3>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessonTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoURL)


            <iframe width="789" height="444" src="https://www.youtube.com/embed/iIb_BY4xBdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PdfFileName)
        </dt>

        <dd>
            @if (Model.PdfFileName == "noFile.jpg")
            {
                <span>No pdf</span>
            }
            else
            {
                <a href="~/Content/textfiles/Lessons/@Model.PdfFileName" target="_blank">
                    @Model.PdfFileName.Substring(30)
                </a>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cours.CourseName)
        </dd>

    </dl>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.LessonID }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</div>
</div>
