﻿@{
    ViewBag.Title = "About";
}
<div id="family-wrapper">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </hgroup>
    <div class="row-fluid">
        <div class="span12">
            <p>This is my family's learning web site.</p>
        </div>
    </div>
</div>