﻿@{
    ViewBag.Title = "Contact";
}

@model FamilySite.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Titel = "Contact";
}
<div id="family-wrapper">
    <div class="row" id="contact">
        <div class="col-sm-8">
            <div class="contact-form">
                <h3 class="title text-center">Get In Touch</h3>
                <div class="status alert alert-success" style="display: none"></div>

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group col-md-12">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Subject" })
                        @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @placeholder = "Message", @id = "message", @row = 8 })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <input type="submit"
                               value="Send Message"
                               name="submit"
                               class="btn btn-default pull-right" />
                    </div>
            }
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Content/js/formvalidation.js"></script>
}
