﻿@model FamilySite.DATA.EF.Reservation

@{
    ViewBag.Title = "Add New Reservation";
}
<div id="family-wrapper">
    <h3>@ViewBag.Title</h3>
    <hr />

    <div class="form-horizontal">
        <div class="form-group">

            @Html.LabelFor(model => model.Lesson.CourseID, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @using (Html.BeginForm("Create", "Reservations", FormMethod.Get))
            {
                    @* hjkang: if lessonId is trasfered from lesson reserve, it's course will be set as default  *@

                    @Html.DropDownList("filter", null, new { onchange = "this.form.submit();" })
                    @Html.ValidationMessageFor(model => model.Lesson.CourseID, "", new { @class = "text-danger" })

                }
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.LessonID, "Lesson", htmlAttributes: new { @class = "control-label col-md-2" })


                <div class="col-md-10">
                    @* hjkang: if lessonId is trasfered from lesson reserve, it will be set as default  *@

                    @Html.DropDownList("LessonID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LessonID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReservationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReservationDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserID, "User", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Lesson.CourseID, "Course", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">*@
            @* hjkang: if lessonId is trasfered from reservation, it's course will be set as default  *@

            @*@Html.DropDownList("CourseID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Lesson.CourseID, "", new { @class = "text-danger" })
                        </div>
                </div>*@



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reserve" class="btn btn-primary" />|
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
