﻿@model IEnumerable<FamilySite.DATA.EF.Reservation>

@{
    ViewBag.Title = "Reservations";
}
<div id="family-wrapper">
<h3>@ViewBag.Title</h3>

<p>
    @Html.ActionLink("Create New Reservation", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.LessonTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ReservationDate.ToShortDateString(), "Details", new { id = item.ReservationID })
                    @*@Html.DisplayFor(modelItem => item.ReservationDate)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonTitle)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.ReservationID }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
                </td>
            </tr>
        }
    </tbody>
</table>
</div>