﻿@model FamilySite.DATA.EF.UserDetail

@{
    ViewBag.Title =Model.FirstName + " Details";
}
<div id="family-wrapper">
    <h3>@ViewBag.Title</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AvatarImage)
            </dt>

            <dd>
                <img src="~/Content/images/Users/@Model.AvatarImage" alt="@Model.FirstName" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUser.Email)
            </dd>

        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary" })|
         @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-danger" })
    </div>
</div>