﻿<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HyungJin Kang's Family Learning Site'" />
    <meta name="keywords" content="Hyungjin Kang, Hyosoon Lee, family, education, learn" />
    <meta name="author" content="hyungjin kang" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vibur&display=swap" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Bootstrap  -->
    @*<link rel="stylesheet" href="~/Content/css/bootstrap.css">*@
    @Styles.Render("~/Content/css")

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Content/css/flexslider.css">

    <link rel="stylesheet" href="~/Content/css/style.css">
    @Scripts.Render("~/bundles/modernizr")
    <!-- Modernizr JS -->
    @*<script src="~/Content/js/modernizr-2.6.2.min.js"></script>*@
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- Theme style  -->
    <!--JqueryUI Stylesheet-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <!--Datatables.net Stylesheet-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <!--Custom Stylesheet to override all other styles and create our own-->
    <link href="~/Content/css/CustomStyles.css" rel="stylesheet" />



</head>
<body id="main">

    <div class="fh5co-loader"></div>

    <div id="page">
        <header id="header">
            <nav class="fh5co-nav" role="navigation">
                <div class="container-wrap">
                    <div class="top-menu" style="background-image:url(../../Content/images/wood.jpg)">
                        <div class="row">

                            <div class="col-xs-2">
                                <div id="fh5co-logo"><a href="@Url.Action("Index", "Home")">Family</a></div>
                            </div>
                            <div class="col-xs-6 text-left menu-1">
                                    <ul>
                                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li class="has-dropdown">
                                            @Html.ActionLink("Courses", "Index", "Courses")
                                            @if (User.Identity.IsAuthenticated)
                                                {
                                                <ul class="dropdown">
                                                    <li>@Html.ActionLink("Course Completion", "Index", "CourseCompletions")</li>
                                                </ul>
                                                }

                                        </li><!--course-->
                                        <li class="has-dropdown">
                                            @Html.ActionLink("Lessons", "Index", "Lessons")
                                            @if (User.Identity.IsAuthenticated)
                                                {
                                                <ul class="dropdown">
                                                    <li>@Html.ActionLink("Lesson Views", "Index", "LessonViews")</li>
                                                    @if (User.Identity.IsAuthenticated)
                                                        {
                                                        <li>@Html.ActionLink("Reservation", "Index", "Reservations")</li>
                                                        }
                                                </ul>
                                                }
                                        </li><!--lesson-->

                                        <li>@Html.ActionLink("Member", "Index", "UserDetails")</li>
                                        @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                    </ul>
                            </div>
                            <div class="col-xs-push-4 text-right menu-1">
                                @Html.Partial("_LoginPartial")
                            </div>  <!--admin menu-->
                        </div>

                        <div class="row">
                            <div class="col-xs-pull-5 text-right menu-1">
                                <ul>
                                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                                    }

                                </ul>                       
                            </div>
                        </div>
                    </div>
               </div>
            

            </nav> <!-- END Navigation -->
        </header>

        <div class="container-wrap">

            @RenderBody()

        </div>
        <div class="container-wrap">
            <hr />
            <footer>

                <div class="col-md-12 text-center">
                    <small>&copy; @DateTime.Now.Year - HJKANG, All rights reserved.</small>
                </div>
            </footer>
        </div><!-- END container-wrap -->
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>



    <!-- jQuery -->
    <script src="~/Content/js/jquery.min.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@

    <!-- jQuery Easing -->
    <script src="~/Content/js/jquery.easing.1.3.js"></script>

    <!-- Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Waypoints -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/magnific-popup-options.js"></script>
    <!-- Counters -->
    <script src="~/Content/js/jquery.countTo.js"></script>
    <!-- Main -->
    <script src="~/Content/js/main.js"></script>

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", required: false)


    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

</body>
</html>


